body {
	background: black;
	color: lime;
	font-family: Helvetica,Arial,sans-serif;
	text-align: center;
}

h1, h2 {
	font-size: 1.4em;
	margin-top: 2em;
}

a {
	color: green;
	text-decoration: none;
}

address {
	font-size: 0.6em;
}

p.a {
	font-size: 3em;
	margin: 0.5em;
}

